/* beautify ignore:start */
 
.arrange-controls {
    position: relative;
    display: inline-block; /* <= shrinks container to image size  */
}

.blend {
  mix-blend-mode: difference;
}

.img-overlay-wrap-small img.overlay_map { /* <= optional, for responsiveness */
   display: block;
   width: 600px;
   /* max-width: 100%; */
   height: auto;
   position: absolute;
   top: 0px;
   left: 0px;
}


/* beautify ignore:end */