<!--
/* beautify ignore:start */
-->
<!doctype html>
	

<html lang="en">
	<head>
<style>
{{>style}}
</style>
	<script>
// -->
/* beautify ignore:end */


/* beautify ignore:start */

</script>

</head>
<body>



<div class="thumbnail-container">
    
   <ul class="thumbnail-list" id="page_thumbnails">
              <li><div><p>&nbsp;</p><img height="100px" width="1px" class="thumbnail-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+AMAAQIA/mGM61QAAAAASUVORK5CYII="></div></li>
              <!-- <li><div><p>Page 7</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li> -->
   </ul>
</div>
  <div class="thumbnail-filter" id="search_thumbnails">
  <hr size=1 noshade/>
  Find:<input type="text" id="quickSearch" value="" size="10" autocorrect="off" autocapitalize="none"/>
  Add:
          <input id="new_item_name" type="text" value="New Item" class="textedit" size="6"/>
          <input id="new_item_add_fixed" type="button" value="add"/>
  Edit:
          <input id="edit_item_name" type="text" value="" class="textedit" size=6/>
          <input id="edit_item_desc" type="text" value="" class="textedit" size=15/>
          <select id="edit_item_type">
          <option value=''>-</option>
          </select>
          <input id="edit_item_save" type="button" value="save" onclick="save_item_details('edit_item_name', 'edit_item_desc')"/>
  <hr size=1 noshade/>
  </div>
		<div class="img-overlay-wrap" id="floor_canvas">
		  <img id="map" class="map" src=""/>
                  <div id="map_svg"/>
		  <!--
		  <div id="sw_0" class="item" style="top: 0px; left: 0px">c3750-1</div>
		  <div id="sw_1" class="item" style="top: 20px; left: 0px">S0052</div>
		  <div id="control_panel" class="panel">
		  	  <div id="new_item_details">
				  <div class="draggable">Add new draggable item</div>
			          <input id="new_item" type="text" value="New Item" class="textedit"/>
			  	  <input id="new_item_add" type="button" value="add"/>
			  </div>
		  </div>
		  -->
		</div>
<script>
/* beautify ignore:end*/

document.onreadystatechange = function () {
    if (document.readyState == "complete") {
    }
}

/* beautify ignore:start */
</script>
</body>
</html>
<!--
/* beautify ignore:end*/
-->