<!--
/* beautify ignore:start */
-->
<!doctype html>
	

<html lang="en">
	<head>
<style>
{{>style}}
{{>arrange_style}}
</style>
	<script>
// -->

{{> root_script }}


function delete_map_click() {
  if (current_map_uuid != undefined) {
     DeleteFloorMapByUUID(current_map_uuid);
  }
}

</script>

</head>
<body>
<div class="thumbnail-container">
   <ul class="thumbnail-list" id="page_thumbnails">
              <li><div><p>&nbsp;</p><img height="100px" width="1px" class="thumbnail-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+AMAAQIA/mGM61QAAAAASUVORK5CYII="></div></li>
              <!-- <li><div><p>Page 7</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li> -->
   </ul>
</div>
<div class="thumbnail-filter" id="search_thumbnails">
 <br/>
</div>
<div class="img-overlay-wrap-small" id="floor_canvas">
  <img id="map" class="map" src=""/>
  <img id="map2compare" class="overlay_map blend" src=""/>
  <!-- <div id="map_svg"></div> -->
</div>
<div class="arrange-controls">
<input type="button" value="<-- replace --"></input><br/><br/>
<input type="button" value="<-- delete --" onclick="delete_map_click()"></input><br/><br/>
<input type="button" value="<-- ins after --"></input><br/><br/>
<input type="button" value="<-- XOR --" onclick="toggle_compare_map2()"></input><br/><br/>
</div>
<div class="img-overlay-wrap-small" id="floor_canvas2">
  <img id="map2" class="map" src="static/grid_page.png"/>
  <!-- <div id="map_svg2"></div> -->
</div>
<!--
-->
<div class="thumbnail-container">
   <ul class="thumbnail-list" id="page_thumbnails2">
              <li><div><p>&nbsp;</p><img height="100px" width="1px" class="thumbnail-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+AMAAQIA/mGM61QAAAAASUVORK5CYII="></div></li>
              <!-- <li><div><p>Page 7</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li> -->
   </ul>
</div>
<script>
/* beautify ignore:end*/

document.onreadystatechange = function () {
    if (document.readyState == "complete") {
        // document.addEventListener('keydown', document_keydown, false);
        JsonPollCycle();
    }
}



/* beautify ignore:start */
</script>
</body>
</html>
<!--
/* beautify ignore:end*/
-->