<!--
/* beautify ignore:start */
-->
<!doctype html>
	

<html lang="en">
	<head>
<style>

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size  */
}


.img-overlay-wrap img.map { /* <= optional, for responsiveness */
   display: block;
   width: 1000px;
   /* max-width: 100%; */
   height: auto; 
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-overlay-wrap .item {
  color: white;
  position: absolute;
  background-color: green;
  color: white;
  cursor: move;
  z-index: 10;
  font-size: 8px;
  cursor: pointer;
}

div.sw1 {
  border: solid 1px #c00;
}

div.sw0 {
  border: solid 1px green;
}

.draggable {
         cursor: pointer;
}

.img-overlay-wrap div.panel {
  font-size: 8px;
  position: absolute;
  top: 0px;
  left: 50px;
  /* height: 200px; */
  background-color: #ccc;
  border: solid 3px;
  cursor: pointer;
  white-space: nowrap;
}

  div.panel div.hidden_pane {
	  display: none;
  }


/*  thumbnail scroll */

.thumbnail-container {
    overflow-x:scroll;
    /* // height: 175px; */
    width:100%;
    padding: 0px 0px;
    /* // background-color: red; */
}

.thumbnail-list {
    white-space:nowrap;
    margin: 0px 0px;
    display: inline-block;
    padding: 0px 0px;
    /*  background: red; */
}

.thumbnail-image {
    display: inline-block;
    padding:2px;
    max-height: 100px;
    /*  height:100px; */
    /* width:160px; */
}

.thumbnail-list li {
   display: inline-block;
}
.thumbnail-list li div {
   /* background-color: green; */
   display: inline-block;
   max-width:160px;
}
/*
.thumbnail-list li div:hover {
box-shadow: inset 0 0 0 25px #53a7ea;
}
*/

.thumbnail-list li .selected-thumbnail {
box-shadow: inset 0 0 0 25px #53a7ea;
}


.thumbnail-list li div p {
    margin: 0px 0px;
    white-space: normal;
    /* height: 160px; */
}

.xthumbnail-filter {
    position: absolute;
    left: 1px;
    top: 1px;
    padding:6px 6px;
    background-color: red;
}

</style>
	<script>
// -->
/* beautify ignore:end */

var selectedElement = undefined;
var ongoingTouches = [];
var page_images_cache = [];

function load_item_details(el) {
    var txt = document.getElementById("edit_item_name");
    txt.value = get_item_label(el);
}

function save_item_details(editor_element_id) {
    var txt = document.getElementById(editor_element_id);
    if (selectedElement != undefined) {
        set_item_label(selectedElement, txt.value);
        SaveName(selectedElement);
    }
}

function setSelectedElement(elmnt) {
    if (selectedElement != undefined) {
        selectedElement.classList.remove("sw1");
        selectedElement.classList.add("sw0");
    }
    if (elmnt != undefined) {
        elmnt.classList.remove("sw0");
        elmnt.classList.add("sw1");
        selectedElement = elmnt;
        load_item_details(elmnt);
        // document.getElementById("new_item_details").classList.add("hidden_pane");
        // document.getElementById("existing_item_details").classList.remove("hidden_pane");
    } else {
        if (selectedElement != undefined) {
            // document.getElementById("existing_item_details").classList.add("hidden_pane");
            // document.getElementById("new_item_details").classList.remove("hidden_pane");
            selectedElement = undefined;
        }
    }
}

function getJSON(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.responseType = 'json';
    xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            callback(null, xhr.response);
        } else {
            callback(status, xhr.response);
        }
    };
    xhr.send();
}

function putJSON(url, data, callback) {
    var json = JSON.stringify(data);
    var xhr = new XMLHttpRequest();
    xhr.open('PUT', url, true);
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.responseType = 'json';
    xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            callback(null, xhr.response);
        } else {
            callback(status, xhr.response);
        }
    };
    xhr.send(json);
}

function get_item_id(jse) {
    var el_id = "item_" + jse["MapObjectUUID"].replace(/-/gi, "_");
    return el_id;
}

function get_map_id_from_uuid(uuid) {
    var el_id = "map_" + uuid.replace(/-/gi, "_");
    return el_id;
}

function get_map_id(jse) {
    var el_id = get_map_id_from_uuid(jse["FloorMapUUID"]);
    return el_id;
}

// var api_root = document.baseURI + "/api/";
var api_root = document.location.protocol + "//" + document.location.host + document.location.pathname + "/api/";
var next_poll_horizon = 0;
var current_map_uuid = null;
var current_set_map_uuid = null;
var current_quick_search = "";

function get_floormap_src(uuid) {
    return ("images/floormaps/" + uuid);
}

function get_floormap_thumbnail_src(uuid) {
    return ("images/floormaps/thumbnails/" + uuid);
}

function get_map_from_uuid(uuid) {
    if (uuid == null || uuid == undefined) {
        return null;
    }
    var el_id = get_map_id_from_uuid(uuid);
    var el = document.getElementById(el_id);
    return el;
}

function set_map_items_visibility() {

    var elts = document.getElementsByClassName("item");

    for (var i = 0; i < elts.length; i++) {
        set_item_visibility(elts[i]);
    }

}

function set_current_map(uuid) {
    if (current_set_map_uuid != undefined) {
        var el = get_map_from_uuid(current_set_map_uuid);
        if (el != null) {
            el.classList.remove("selected-thumbnail");
        }
    }
    if (current_map_uuid != undefined) {
        var el = get_map_from_uuid(current_map_uuid);
        if (el != null) {
            el.classList.remove("selected-thumbnail");
        }
    }
    current_map_uuid = uuid;
    current_set_map_uuid = uuid;
    if (current_map_uuid != undefined) {
        var el = get_map_from_uuid(current_map_uuid);
        if (el != null) {
            el.classList.add("selected-thumbnail");
            el.scrollIntoView();
        }
    }
    if (uuid != undefined) {
        document.location.hash = current_map_uuid;
        var el = document.getElementById("map");
        el.src = get_floormap_src(uuid);
    } else {
        var el = document.getElementById("map");
        el.src = "static/layer_3_switch.png";
    }
    set_map_items_visibility();
}


function processJSON(err, reply_data) {
    if (err !== null) {
        // alert('Something went wrong: ' + err);
        setTimeout(JsonPollCycle, 10000);
    } else {
        // alert('Your data: ' + data.length);
        if (reply_data == null) {
            console.debug("Reply data was null...");
            return;
        }
        var new_default_floormap_uuid = undefined;
        if (current_map_uuid == null) {
            if (document.location.hash != "") {
                current_map_uuid = document.location.hash.substr(1);
            }
        } else {
            if (document.location.hash != "#" + current_map_uuid) {
                current_map_uuid = document.location.hash.substr(1);
            }
        }
        var data = reply_data["MapObjects"];
        var floors_data = reply_data["FloorMaps"];
        next_poll_horizon = reply_data["NextPollHorizon"];
        // console.debug("floors_data len: " + floors_data.length);
        // console.debug("objects_data len: " + data.length);
        for (var i = 0; i < floors_data.length; i++) {
            var jse = floors_data[i];
            if (new_default_floormap_uuid == undefined) {
                new_default_floormap_uuid = jse["FloorMapUUID"];
            }
            if (current_map_uuid == null) {
                set_current_map(jse["FloorMapUUID"]);
            }
            var el_id = get_map_id(jse);
            var el = document.getElementById(el_id);
            if (el != null) {
                update_map_jso(el, jse)
            } else {
                if (!jse["Deleted"]) {
                    add_map_jso(jse)
                }
            }
        }
        // console.debug("Next poll for map " + current_map_uuid + " : " + next_poll_horizon);

        for (var i = 0; i < data.length; i++) {
            var jse = data[i];
            var el_id = get_item_id(jse);
            var el = document.getElementById(el_id);
            if (el != null) {
                update_item_jso(el, jse)
            } else {
                if (!jse["Deleted"]) {
                    add_item_jso(jse)
                }
            }
        }
        if (get_map_from_uuid(current_map_uuid) == null) {
            if (new_default_floormap_uuid != undefined) {
                current_map_uuid = new_default_floormap_uuid;
            } else {
                current_map_uuid = undefined;
            }
        }
        if (current_map_uuid != current_set_map_uuid) {
            set_current_map(current_map_uuid);
            var elt = get_map_from_uuid(current_map_uuid);
            if (elt != null) {
                elt.scrollIntoView();
            }
        }
        setTimeout(JsonPollCycle, 1000);
    }
}


function JsonPollCycle() {
    var api_url = api_root + "v1/mapobjects/get/json" + "/" + next_poll_horizon;
    // console.debug("Polling: " + api_url);
    getJSON(api_url, processJSON);
}

function check_save(data) {}

var total_saving = 0;

function SavePosition(node) {
    var api_url = api_root + "v1/mapobjects/xy/put/json";
    var cnv = document.getElementById("floor_canvas");
    var cnv_rect = cnv.getBoundingClientRect();
    var rect = node.getBoundingClientRect();
    var data = new Object();
    /* apparently with varoius zooms the left/top may be fractional! */
    var MapX = Math.round(rect.left - cnv_rect.left);
    var MapY = Math.round(rect.top - cnv_rect.top);
    console.debug("Maybe Saving position: " + node.uuid + " X: " + MapX + " Y: " + MapY);
    console.debug("rect X: " + rect.left + " Y: " + rect.top + " cnv X: " + cnv_rect.left + " Y: " + cnv_rect.top);
    if (rect.left < cnv_rect.left) {
        console.warn("Rect left " + rect.left + " < cnv rect left " + cnv_rect.left);
        return;
    }
    if (rect.top < cnv_rect.top) {
        console.warn("Rect top " + rect.top + " < cnv rect top " + cnv_rect.top);
        return;
    }
    data["MapX"] = MapX;
    data["MapY"] = MapY;
    data["MapObjectUUID"] = node.uuid;
    var arr = new Array();
    arr[0] = data;
    node.f7n.saving++;
    total_saving++;
    document.body.style.cursor = 'wait';
    node.style.cursor = 'wait';
    console.debug("Saving position: " + node.uuid + " X: " + MapX + " Y: " + MapY);
    putJSON(api_url, arr, function() {
        node.f7n.saving--;
        total_saving--;
        if (node.f7n.saving == 0) {
            node.style.cursor = 'move';
        }
        if (total_saving == 0) {
            document.body.style.cursor = 'default';
        }
        console.debug("Saved for " + node.uuid);
    });
}

function SaveName(node) {
    var api_url = api_root + "v1/mapobjects/name_description/put/json";
    var data = new Object();
    data["Name"] = get_item_label(node);
    data["Description"] = "FIXME-SAVED";
    data["MapObjectUUID"] = node.uuid;
    node.f7n.saving++;
    total_saving++;
    node.style.cursor = 'wait';
    document.body.style.cursor = 'wait';
    console.debug("Saving name: " + node.uuid + " name: " + data["Name"]);
    var arr = new Array();
    arr[0] = data;
    putJSON(api_url, arr, function(err, res) {
        node.f7n.saving--;
        total_saving--;
        if (node.f7n.saving == 0) {
            node.style.cursor = 'move';
        }
        if (total_saving == 0) {
            document.body.style.cursor = 'default';
        }
        console.debug("Saved for " + node.uuid);
        console.debug("Err: " + err);
        console.debug("Res: " + res);
    });
}

function DragEnd(node) {
    if (node.f7n) {
        SavePosition(node);
    }
}

function noop(e) {
    e.preventDefault();
}

function dragElement(elmnt) {
    var pos1 = 0,
        pos2 = 0,
        pos3 = 0,
        pos4 = 0;
    if (document.getElementById(elmnt.id + "header")) {
        // if present, the header is where you move the DIV from:
        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
    } else {
        // otherwise, move the DIV from anywhere inside the DIV:
        elmnt.onmousedown = dragMouseDown;
        elmnt.ontouchstart = handleTouchStart;
        elmnt.onclick = noop;
        document.addEventListener('touchmove', function(event) {
            if (event.scale !== 1) {
                event.preventDefault();
            }
        }, false);
    }
    elmnt.classList.add("draggable");

    function copyTouch(touch) {
        return {
            identifier: touch.identifier,
            pageX: touch.pageX,
            pageY: touch.pageY
        };
    }

    function ongoingTouchIndexById(idToFind) {
        for (var i = 0; i < ongoingTouches.length; i++) {
            var id = ongoingTouches[i].identifier;

            if (id == idToFind) {
                return i;
            }
        }
        return -1; // not found
    }

    function handleEnd(evt) {
        evt.preventDefault();
        var touches = evt.changedTouches;

        for (var i = 0; i < touches.length; i++) {
            var idx = ongoingTouchIndexById(touches[i].identifier);

            if (idx >= 0) {
                // ctx.lineTo(touches[i].pageX, touches[i].pageY);
                ongoingTouches.splice(idx, 1); // remove it; we're done
            }
        }
        // document.getElementById("new_item").value = "end touches: " + ongoingTouches.length;
        if (ongoingTouches.length == 0) {
            document.ontouchend = null;
            document.ontouchcancel = null;
            document.ontouchmove = null;
            if (elmnt.f7n && elmnt.f7n.dragging > 0) {
                DragEnd(elmnt);
            }
            console.debug("Drag end - handleEnd");
            if (elmnt.f7n) {
                elmnt.f7n.dragging = 0;
            }
        }
    }

    function handleCancel(evt) {
        evt.preventDefault();
        var touches = evt.changedTouches;

        for (var i = 0; i < touches.length; i++) {
            var idx = ongoingTouchIndexById(touches[i].identifier);
            ongoingTouches.splice(idx, 1); // remove it; we're done
        }
        document.getElementById("new_item").value = "cancel touches: " + ongoingTouches.length;
        if (elmnt.f7n && elmnt.f7n.dragging > 0) {
            DragEnd(elmnt);
        }
        console.debug("Drag end - handleCancel");
        if (elmnt.f7n) {
            elmnt.f7n.dragging = 0;
        }
    }

    function handleMove(evt) {
        evt.preventDefault();
        var touches = evt.changedTouches;
        // document.getElementById("new_item").value = "move touches: " + touches[0].pageX + " " + touches[0].pageY; 

        for (var i = 0; i < touches.length; i++) {
            var idx = ongoingTouchIndexById(touches[i].identifier);

            if (idx >= 0) {
                /* (touches[i].pageX, touches[i].pageY); */
                pos1 = pos3 - touches[i].pageX;
                pos2 = pos4 - touches[i].pageY;
                pos3 = touches[i].pageX;
                pos4 = touches[i].pageY;
                // document.getElementById("new_item").value = "touches: " + ongoingTouches.length + " " + pos1 + " " + pos2;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
                if (elmnt.f7n) {
                    elmnt.f7n.dragging = 1;
                }
                ongoingTouches.splice(idx, 1, copyTouch(touches[i])); // swap in the new touch record
                // document.getElementById("new_item").value = "Xove touches: " + elmnt.style.top + " " + elmnt.style.left; 
            }
        }
    }

    function handleTouchStart(e) {
        var touches = e.changedTouches;
        if (event.target.classList.contains('draggable')) {
            e.preventDefault();
        } else {
            return;
        }
        if (event.target.classList.contains('draggable') && event.target.classList.contains('item')) {
            if (selectedElement != elmnt) {
                setSelectedElement(elmnt)
            }
        }

        for (var i = 0; i < touches.length; i++) {
            ongoingTouches.push(copyTouch(touches[i]));
        }
        // document.getElementById("new_item").value = "start touches: " + ongoingTouches.length;
        document.ontouchend = handleEnd;
        document.ontouchcancel = handleCancel;
        document.ontouchmove = handleMove;
        pos3 = ongoingTouches[0].PageX;
        pos4 = ongoingTouches[0].PageY;
        if (elmnt.f7n) {
            elmnt.f7n.dragging = 0;
        }

        // get the mouse cursor position at startup:
        // document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        // document.onmousemove = elementDrag;
    }

    function dragMouseDown(e) {
        e = e || window.event;
        if (event.target.classList.contains('draggable')) {
            console.debug("Preventdefault");
            e.preventDefault();
        } else {
            if (this.classList.contains('draggable')) {
                /* this allows to drag by the children as well */
            } else {
                console.debug("return - no prevent default");
                return true;
            }
        }
        if (event.target.classList.contains('draggable') && event.target.classList.contains('item')) {
            if (selectedElement != elmnt) {
                setSelectedElement(elmnt)
            }
        }
        // get the mouse cursor position at startup:
        pos3 = e.clientX;
        pos4 = e.clientY;
        document.onmouseup = closeDragElement;
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag;
        if (elmnt.f7n) {
            elmnt.f7n.dragging = 0;
        }
    }

    function elementDrag(e) {
        e = e || window.event;
        e.preventDefault();
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX;
        pos2 = pos4 - e.clientY;
        pos3 = e.clientX;
        pos4 = e.clientY;
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        if (elmnt.f7n) {
            elmnt.f7n.moved = true;
            elmnt.f7n.dragging = 1;
        }
    }

    function closeDragElement() {
        // stop moving when mouse button is released:
        // if (elmnt.f7n.dragging) {
        DragEnd(elmnt);
        //}
        document.onmouseup = null;
        document.onmousemove = null;
        if (elmnt.f7n) {
            elmnt.f7n.dragging = 0;
        }
        console.debug("Drag end - closeDragElement");
    }
}


var next_y = 40;
var next_number = 3;


function add_item(e) {
    var api_url = api_root + "v1/mapobjects/new/put/json";
    var o = new Object();
    o["Name"] = document.getElementById("new_item").value;
    o["MapX"] = 100;
    o["MapY"] = next_y;
    o["ParentMapUUID"] = current_map_uuid;
    next_y = next_y + 20;
    next_number = next_number + 1;
    putJSON(api_url, o, function(err, d) {
        console.debug("err: " + err);
        console.debug("Made new node: " + d);
    });
}

function add_item_to_quicksearch(node, label) {
    var map_uuid = node.parent_map_uuid;
    var map = get_map_from_uuid(map_uuid);
    if (map != null) {
        // alert(map.quickSearchObjects[node.uuid]);
        map.quickSearchObjects[node.uuid] = "|" + label + "|";
        if (map.quickSearchString == undefined) {
            map.quickSearchString = "|" + label + "|";
        } else {
            map.quickSearchString = map.quickSearchString + "|" + label + "|";
        }
        console.debug("Adding quick search object: " + node.uuid + " to map " + map_uuid + " as '" + label + "'");
        console.debug("string: " + map.quickSearchString);
    } else {
        console.debug("Map is null - " + map_uuid);
    }
}

function del_item_from_quicksearch(node) {
    var map_uuid = node.parent_map_uuid;
    var map = get_map_from_uuid(map_uuid);
    if (map != null) {
        // alert(map.quickSearchObjects[node.uuid]);
        label_plus = map.quickSearchObjects[node.uuid];
        if (label_plus != null && map.quickSearchString != null) {
            map.quickSearchString = map.quickSearchString.replace(label_plus, "");
        }
        if (map.quickSearchObjects != null && map.quickSearchObjects.delete != null) {
            map.quickSearchObjects.delete(node.uuid);
        }
    }
}

function add_new_item(input_field_id) {
    var api_url = api_root + "v1/mapobjects/new/put/json";
    var o = new Object();
    o["Name"] = document.getElementById(input_field_id).value;
    o["MapX"] = 100;
    o["MapY"] = next_y;
    o["ParentMapUUID"] = current_map_uuid;
    next_y = next_y + 20;
    next_number = next_number + 1;
    putJSON(api_url, o, function(err, d) {
        console.debug("err: " + err);
        console.debug("Made new node: " + d);
    });
}


function set_item_visibility(node) {
    if (node.parent_map_uuid == current_map_uuid) {
        node.style.visibility = "visible";
        var lbl = node.childNodes[0];
        if (lbl != null) {
            if ((current_quick_search != "") && TextHasText(lbl.data, current_quick_search)) {
                node.style["font-weight"] = 'bold';
                node.style.color = "yellow";
            } else {
                node.style["font-weight"] = 'normal';
                node.style.color = "white";
            }
        }
    } else {
        node.style.visibility = "hidden";
    }
}

function add_item_jso(jso) {
    var cnv = document.getElementById("floor_canvas");
    var node = document.createElement("div");
    node.classList.add("item")
    node.classList.add("sw0");
    node.style.top = jso["MapY"] + "px";
    node.style.left = jso["MapX"] + "px";
    var el_id = get_item_id(jso);
    node.id = el_id;
    node.f7n = {};
    node.f7n.dragging = 0;
    node.f7n.saving = 0;
    node.uuid = jso["MapObjectUUID"];
    node.parent_map_uuid = jso["ParentMapUUID"];
    var label = jso["Name"];
    var textnode = document.createTextNode(label);
    textnode.id = el_id + "_label";
    node.appendChild(textnode);
    var baggage = document.createElement("div");
    // baggage.innerHTML = "<img src='static/layer_3_switch.png'></img>";
    baggage.innerHTML = "Attention";
    // baggage.style.position = "absolute";
    // baggage.style.top = "15px";
    // baggage.style.left = "0px";
    baggage.style.background = "red";
    // node.appendChild(baggage);
    set_item_visibility(node);
    add_item_to_quicksearch(node, label);
    // console.debug("Add item " + node.uuid + " parent map " + node.parent_map_uuid);
    cnv.appendChild(node);
    dragElement(node)
}

function set_item_label(node, label) {
    console.debug("Setting item label to " + label);
    del_item_from_quicksearch(node);
    node.replaceChild(document.createTextNode(label), node.childNodes[0]);
    add_item_to_quicksearch(node, label);
}

function get_item_label(node) {
    var label = node.childNodes[0].nodeValue;
    console.debug("Node label: " + label);
    return (label);
}

function update_item_jso(node, jso) {
    var cnv = document.getElementById("floor_canvas");
    console.debug("Updating " + node.uuid + " X: " + jso["MapX"] + " Y: " + jso["MapY"]);
    if (jso["Deleted"]) {
        del_item_from_quicksearch(node);
        node.outerHTML = "";
    } else {
        if (node.f7n.dragging + node.f7n.saving == 0) {
            node.style.top = jso["MapY"] + "px";
            node.style.left = jso["MapX"] + "px";
        }
        var label = jso["Name"];
        set_item_label(node, label);
        node.parent_map_uuid = jso["ParentMapUUID"];
        set_item_visibility(node);
    }
}

function set_map_label(node, label) {
    /* FIXME: no-op for now */
}

function update_map_jso(node, jso) {

    if (jso["Deleted"]) {
        node.outerHTML = "";
        console.debug("Deleting map " + node.uuid);
    } else {
        console.debug("Updating map " + node.uuid + " : " + jso["Deleted"]);
        var label = jso["Name"];
        set_map_label(node, label);
        if (node.uuid == current_map_uuid) {
            node.classList.add("selected-thumbnail");
        }
    }
}

function add_map_jso(jso) {
    /*
     <li><div id='page_1'><p>Page 1</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
    */
    var cnv = document.getElementById("page_thumbnails");
    var li_node = document.createElement("li");
    var node = document.createElement("div");
    var el_id = get_map_id(jso);
    node.id = el_id;
    // node.f7n = {};
    node.uuid = jso["FloorMapUUID"];
    var label = jso["Name"];

    var node_label = document.createElement("p");

    var textnode = document.createTextNode(label);
    node_label.appendChild(textnode);
    var node_img = document.createElement("img");
    node_img.classList.add("thumbnail-image");
    node_img.src = get_floormap_thumbnail_src(node.uuid);
    node_img.title = jso["Description"];

    var node_full_img = new Image();
    node_full_img.src = get_floormap_src(node.uuid);
    page_images_cache.push(node_full_img);

    node.quickSearchObjects = {};
    node.quickSearchString = "";
    node.appendChild(node_label);
    node.appendChild(node_img);
    if (node.uuid == current_map_uuid) {
        node.classList.add("selected-thumbnail");
    }
    li_node.appendChild(node);
    node.onclick =
        function(e) {
            set_current_map(node.uuid);
        };
    // console.debug("Adding map " + node.uuid);
    cnv.appendChild(li_node);
}

function HasText(el, q) {
    var haystack = el.innerHTML;
    var haystack_lower = haystack.toLowerCase();
    var q_lower = q.toLowerCase();
    if (q == q_lower) {
        return (haystack_lower.indexOf(q_lower) !== -1);
    } else {
        return (haystack.indexOf(q) !== -1);
    }

    return found;
}

function TextHasText(text, q) {
    var haystack = text;
    var haystack_lower = haystack.toLowerCase();
    var q_lower = q.toLowerCase();
    if (q == q_lower) {
        return (haystack_lower.indexOf(q_lower) !== -1);
    } else {
        return (haystack.indexOf(q) !== -1);
    }

    return found;
}

function QuickSearchHandler(e) {
    // console.log("keyup event detected! coming from this element:", e.target);
    var q = e.target.value;
    current_quick_search = q;
    var t = document.getElementById('page_thumbnails'); // .childNodes[1];
    // console.log("Value: ", q);
    // console.log("child node count: ", t.childNodes.length);
    for (var i = 2; i < t.childNodes.length; i++) {
        // console.log("Child ", i, " : ", t.childNodes[i].nodeName);
        var el = t.childNodes[i];
        // console.log("node: ", el); console.log("disp: ", el.style.display);
        if (el.nodeName == "LI") {
            var found = false;
            if (HasText(el.childNodes[0].childNodes[0], q)) {
                found = true;
            } else if (TextHasText(el.childNodes[0].quickSearchString, q)) {
                found = true;
            } else {
                var mimg = el.childNodes[0].childNodes[1];
                if (mimg != undefined && mimg.nodeName == "IMG") {
                    var txt = mimg.getAttribute("title");
                    if (TextHasText(txt, q)) {
                        found = true;
                    }
                }
            }
            console.debug(el.childNodes[0].quickSearchString);
            if (found) {
                el.style.visibility = "visible";
                el.style.display = "";
            } else {
                el.style.visibility = "hidden";
                el.style.display = "none";
            }
        }
    }

    var el = get_map_from_uuid(current_map_uuid);
    if (el != null) {
        el.scrollIntoView();
    }
    set_map_items_visibility();
}

/* beautify ignore:start */

</script>

</head>
<body>



<div class="thumbnail-container">
    
   <ul class="thumbnail-list" id="page_thumbnails">
              <li><div><p>&nbsp;</p><img height="100px" width="1px" class="thumbnail-image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+AMAAQIA/mGM61QAAAAASUVORK5CYII="></div></li>
              <!--
              <li><div id='page_1'><p>Page 1</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div id='page_2'><p>Page 2 asdasd</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div id='page_3'><p>Page 3  asddsadsadf </p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div><p>Page 4</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div><p>Page 5</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div><p>Page 6</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
              <li><div><p>Page 7</p><img class="thumbnail-image" src="static/out-21.ppm.png"></div></li>
-->
   </ul>
</div>
  <div class="thumbnail-filter" id="search_thumbnails">
  <hr size=1 noshade/>
  Find page:
          <input type="text" id="quickSearch" value="" size="10" autocorrect="off" autocapitalize="none"/>
          <input type="button" value="Search"/>
  Add new item:
          <input id="new_item_name" type="text" value="New Item" class="textedit"/>
          <input id="new_item_add_fixed" type="button" value="add"/>
  Edit item:
          <input id="edit_item_name" type="text" value="" class="textedit"/>
          <input id="edit_item_save" type="button" value="save" onclick="save_item_details('edit_item_name')"/>
  <hr size=1 noshade/>
  </div>
		<div class="img-overlay-wrap" id="floor_canvas">
		  <img id="map" class="map" src=""/>
		  <!--
		  <div id="sw_0" class="item" style="top: 0px; left: 0px">c3750-1</div>
		  <div id="sw_1" class="item" style="top: 20px; left: 0px">S0052</div>
		  <div id="control_panel" class="panel">
		  	  <div id="new_item_details">
				  <div class="draggable">Add new draggable item</div>
			          <input id="new_item" type="text" value="New Item" class="textedit"/>
			  	  <input id="new_item_add" type="button" value="add"/>
			  </div>
		  </div>
		  -->
		</div>
	<script>
// dragElement(document.getElementById("sw_0"));
// dragElement(document.getElementById("sw_1"));
// dragElement(document.getElementById("control_panel"));
// dragElement(document.getElementById("search_thumbnails"));
// document.getElementById("new_item_add").onclick=add_item;
// document.getElementById("new_item_add").onclick=function(e) { add_new_item("new_item"); };
document.getElementById("new_item_add_fixed").onclick=function(e) { add_new_item("new_item_name"); };
/*
document.getElementById("page_1").onclick= function(e) {
  alert(e);
};
*/
document.getElementById("map").onclick= function(e) {
  alert(e);
};
document.onreadystatechange = function () {
    if (document.readyState == "complete") {
       var e = document.getElementById('quickSearch');
       e.oninput = QuickSearchHandler;
       e.onpropertychange = e.oninput; // for IE8

        JsonPollCycle();
    }
}
</script>
</body>
</html>
<!--
/* beautify ignore:end*/
-->