/* beautify ignore:start */

@media print {
.thumbnail-container { display: none; }
.thumbnail-list { display: none; }
.thumbnail-image { display: none; }
.thumbnail-list li { display: none; }
.thumbnail-list li div { display: none; }
.thumbnail-list li div:hover { display: none; }
.thumbnail-list li .selected-thumbnail { display: none; }
.thumbnail-list li div p { display: none; }
.thumbnail-filter { display: none; }
div.sw1 { border: solid 1px black; padding: 0px 5px 0px 5px; }
div.sw0 { border: solid 1px black; padding: 0px 5px 0px 5px; }
svg.screen-only { display: none; }
}

@media screen {
div.sw1 { border: solid 1px #f00; color: red; padding: 0px 5px 0px 5px; }
div.sw0 { border: solid 1px green; color: black; padding: 0px 5px 0px 5px; }
}

@keyframes background-fade {
    0% {
        background:#ffffff;
    }
    30% {
        background:#ffffff;
    }
    100% {
        background:#ff0000;
    }
}

.gradually-red {
    animation: background-fade 60s forwards;
}

.searchscreen {
  display: none; /* Hidden by default */
  position: absolute;
  z-index: 15; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  z-index: 30; /* Sit on top */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: left;
  font-size: 64px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


{{^auth.groups.administrators}}
/* Disable selection in anything but quicksearch */

*:not(.user-text-input) {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

{{/auth.groups.administrators}}

.img-overlay-wrap-small {
  position: relative;
  display: inline-block; /* <= shrinks container to image size  */
}
.img-overlay-wrap-small img.map { /* <= optional, for responsiveness */
   display: block;
   width: 600px;
   /* max-width: 100%; */
   height: auto;
}
.img-overlay-wrap-small span { 
   margin-bottom: 0px;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size  */
}



.img-overlay-wrap img.map {
   display: block;
   width: 1400px;
   /* max-width: 100%; */
   height: auto; 
}

.img-overlay-wrap img.grayscale-map {
  /* black and white */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.img-overlay-wrap img.color-map {
  /* color */
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}


.img-overlay-wrap svg.whatever {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-overlay-wrap table {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  color-adjust: exact;
  /* set from script - font-size: 6px; */
  background-color: white !important;

  border-collapse: collapse;
}

.img-overlay-wrap table td,th {
    border: 1px solid black;
}

.img-overlay-wrap .item {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  background-color: white !important;
  z-index: 10;
  font-size: 8px;
{{#auth.groups.administrators}}
  cursor: move;
{{/auth.groups.administrators}}
{{^auth.groups.administrators}}
  cursor: crosshair;
{{/auth.groups.administrators}}

  border-radius: 20px;
  /* force color for printing */
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}


.draggable {
         cursor: pointer;
}

.img-overlay-wrap div.panel {
  font-size: 8px;
  position: absolute;
  top: 0px;
  left: 50px;
  /* height: 200px; */
  background-color: #ccc;
  border: solid 3px;
  cursor: pointer;
  white-space: nowrap;
}

  div.panel div.hidden_pane {
	  display: none;
  }


/*  thumbnail scroll */

.thumbnail-container {
    overflow-x:scroll;
    /* // height: 175px; */
    width:100%;
    padding: 0px 0px;
    /* // background-color: red; */
}

.thumbnail-list {
    white-space:nowrap;
    margin: 0px 0px;
    display: inline-block;
    padding: 0px 0px;
    /*  background: red; */
}

.thumbnail-image {
    display: inline-block;
    padding:2px;
    max-height: 100px;
    /*  height:100px; */
    /* width:160px; */
}

.thumbnail-list li {
   display: inline-block;
}
.thumbnail-list li div {
   /* background-color: green; */
   display: inline-block;
   max-width:160px;
}
/*
.thumbnail-list li div:hover {
box-shadow: inset 0 0 0 25px #53a7ea;
}
*/

.thumbnail-list li .selected-thumbnail {
box-shadow: inset 0 0 0 25px #53a7ea;
}


.thumbnail-list li div p {
    margin: 0px 0px;
    white-space: normal;
    /* height: 160px; */
}

.xthumbnail-filter {
    position: absolute;
    left: 1px;
    top: 1px;
    padding:6px 6px;
    background-color: red;
}


/* beautify ignore:end */