/* beautify ignore:start */

@media print {
.thumbnail-container { display: none; }
.thumbnail-list { display: none; }
.thumbnail-image { display: none; }
.thumbnail-list li { display: none; }
.thumbnail-list li div { display: none; }
.thumbnail-list li div:hover { display: none; }
.thumbnail-list li .selected-thumbnail { display: none; }
.thumbnail-list li div p { display: none; }
.thumbnail-filter { display: none; }
div.sw1 { border: solid 1px black; padding: 0px 5px 0px 5px; }
div.sw0 { border: solid 1px black; padding: 0px 5px 0px 5px; }
svg.screen-only { display: none; }
}

@media screen {
div.sw1 { border: solid 1px #f00; color: red; padding: 0px 5px 0px 5px; }
div.sw0 { border: solid 1px green; color: black; padding: 0px 5px 0px 5px; }
}

.img-overlay-wrap-small {
  position: relative;
  display: inline-block; /* <= shrinks container to image size  */
}
.img-overlay-wrap-small img.map { /* <= optional, for responsiveness */
   display: block;
   width: 600px;
   /* max-width: 100%; */
   height: auto;
}
.img-overlay-wrap-small span { 
   margin-bottom: 0px;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size  */
}



.img-overlay-wrap img.map { /* <= optional, for responsiveness */
   display: block;
   width: 1400px;
   /* max-width: 100%; */
   height: auto; 
}


.img-overlay-wrap svg.whatever {
  position: absolute;
  top: 0px;
  left: 0px;
}

.img-overlay-wrap .item {
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  background-color: white !important;
  z-index: 10;
  font-size: 8px;
{{#auth.groups.administrators}}
  cursor: move;
{{/auth.groups.administrators}}
{{^auth.groups.administrators}}
  cursor: crosshair;
{{/auth.groups.administrators}}

  border-radius: 20px;
  /* force color for printing */
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}


.draggable {
         cursor: pointer;
}

.img-overlay-wrap div.panel {
  font-size: 8px;
  position: absolute;
  top: 0px;
  left: 50px;
  /* height: 200px; */
  background-color: #ccc;
  border: solid 3px;
  cursor: pointer;
  white-space: nowrap;
}

  div.panel div.hidden_pane {
	  display: none;
  }


/*  thumbnail scroll */

.thumbnail-container {
    overflow-x:scroll;
    /* // height: 175px; */
    width:100%;
    padding: 0px 0px;
    /* // background-color: red; */
}

.thumbnail-list {
    white-space:nowrap;
    margin: 0px 0px;
    display: inline-block;
    padding: 0px 0px;
    /*  background: red; */
}

.thumbnail-image {
    display: inline-block;
    padding:2px;
    max-height: 100px;
    /*  height:100px; */
    /* width:160px; */
}

.thumbnail-list li {
   display: inline-block;
}
.thumbnail-list li div {
   /* background-color: green; */
   display: inline-block;
   max-width:160px;
}
/*
.thumbnail-list li div:hover {
box-shadow: inset 0 0 0 25px #53a7ea;
}
*/

.thumbnail-list li .selected-thumbnail {
box-shadow: inset 0 0 0 25px #53a7ea;
}


.thumbnail-list li div p {
    margin: 0px 0px;
    white-space: normal;
    /* height: 160px; */
}

.xthumbnail-filter {
    position: absolute;
    left: 1px;
    top: 1px;
    padding:6px 6px;
    background-color: red;
}


/* beautify ignore:end */
